@import "tailwindcss";

.why-us-section {
  margin: 4rem 0;
}

.why-us-grid {
  display: grid;
  grid-template-columns: 350px 350px 350px; /* Fixed width for each card */
  gap: 4rem; /* Space between cards */
  justify-content: center; /* Center the grid in the container */
}
